/* 
 * 	Core Owl Carousel CSS File
 *	v1.15
 */

/* clearfix */
.owl-carousel:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.owl-carousel .owl-wrapper{
	position: relative;
	display: inline-block;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.owl-carousel .owl-item{
	float: left;
}
.owl-controlls .owl-page,
.owl-controlls .owl-buttons{
	cursor: pointer;
}
.owl-controlls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}



.owl-pagination {
	position: absolute;
	top: 265px;
	left: 20px;			
}
.owl-buttons {
	margin-top: -110px;
	z-index: 1000;
	position: absolute;
}
.owl-container:hover .owl-next, .owl-container:hover .owl-prev {
	opacity:1; 
	transition: opacity 0.5s;
}
.owl-prev {
	transition: opacity 0.5s;
	opacity:0;
	background: url('/images/left-arrow.png') no-repeat;  
	background-position: -0px -0px;				
	width: 37px;
	height: 51px; 
	position: absolute;
	top: 215px;
	left: 5px;
	cursor:pointer;
	z-index:999;
}
.owl-prev:hover {
	background-position: -0px -51px;
	width: 37px; 
	height: 51px; 		
}
.owl-next {
	transition: opacity 0.5s;
	opacity:0;
	background: url('/images/right-arrow.png') no-repeat; 
	background-position: -0px -0px;				
	height: 51px;
	position: absolute;
	width: 37px;
	top: 215px;
	left: 565px;
	cursor:pointer;
	z-index:999;
}
.owl-next:hover {
	background-position: -0px -51px; 
	width: 37px; 
	height: 51px; 		
}

.owl-container {
	margin-top:20px;
	margin-left:5px;
	width:540px;
}