html,
body {
    height: 100%;
	background-color: transparent;
}
/****/
/***reset.css**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***reset.css**/
/***cleatfix.css**/
.clearfix:after {

     content: ".";

     display: block;

     height: 0;

     clear: both;

     visibility: hidden;

}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/***cleatfix.css**/

/***fonts.css**/
@font-face {
	font-family: MonAmourTwo; 
	src: url(/fonts/MonAmourTwo.ttf);
}		  
@font-face {
	font-family: Stradivariscript; 
	src: url(/fonts/Stradivariscript.ttf);
}
@font-face {
	font-family: Goodvibes; 
	src: url(/fonts/Goodvibes.ttf);
}
@font-face {
	font-family: Trebuchet-MS; 
	src: url(/fonts/Trebuchet-MS.ttf);
}
/***fonts.css**/

/***tegs**/
html {
	background:url(/images/uzor.png) #3c3c3c;
}
body {
	width:1000px; 
	margin:0 auto;
}
header {
	position:relative;
}
header #logowrap .icons {
	position: absolute; 
	top: 115px;
	left: 100px; 
	width: 200px;
}
header #logowrap #logo:last-child  {
	top: 50px; 
	left: 200px; 
	font-size: 34px;
}
header #logowrap .icons a img {
	width:40px
}
header #contactinfo:last-child {
	top: 50px; 
	left: 132px;
}
header #contactinfowrap .icons {
	position: absolute; 
	top: 115px; 
	left: 105px; 
	width: 200px;
}
header #contactinfowrap .icons a img.cardicon { 
	width:59px;
}
header #contactinfowrap .icons a img.wifiicon { 
	width:35px;
}
header > img {
	position: absolute; 
	top: 155px; 
	left: 440px; 
	z-index: 999; 
	width: 115px;
}

header .frame {
	background: url(/images/frame-1.png) no-repeat; 
	background-size: 100% 100%;  
	width: 1000px; 
	height: 315px; 
	margin: 0 auto;
}
header .crown {
	background: url(/images/crown.png) no-repeat; 
	width: 265px;  
	height: 100px; 
	margin: 0 auto;  
	background-size: 100% 100%; 
	margin-top:20px;
}
header .circle {
	background: url(/images/circle.png) no-repeat; 
	background-size: 100% 100%; 
	width: 480px; 
	height: 190px; 
	position: absolute;  
	top: 120px; 
	left: 262px;
}
header .lenta {
	background: url(/images/lenta1.png) no-repeat; 
	background-size: 100% 100%; 
	width: 345px; 
	height: 77px; 
	top: 222px; 
	left: 329px; 
	position: absolute;
	z-index:1000;
}
footer {
	background: url(/images/line.png) no-repeat;
	background-size: 100% 7%;
}
aside #main_actions .title{
	font-family: MonAmourTwo; 
	color: #bfa45a; 
	font-size: 25px; 
	margin-top: 21px;
}
aside #main_actions .all_list{
	position: absolute; 
	right: 20px; 
	top: 12px;
	font-size: 16px;
	font-family: Trebuchet-MS;
}
aside #main_actions .all_text{
	text-decoration:underline; 
	margin-left: 240px; 
	font-size: 18px; 
	cursor:pointer;
	font-family: Trebuchet-MS;
}
aside .review_background:after {
	content: '';
	display: block;
	position: absolute;
	top:51px;
	margin-left: 20px;
	border: 20px solid transparent;
	border-bottom: 15px solid #bfa45a;
}
aside #main_actions .description{
	width:330px; 
	color:white; 
	text-align: justify;  
	font-size: 20px;
	margin-top:20px;
	font-family: Trebuchet-MS; 
}
aside #main_actions .all_list .link{
	margin-left:255px; 
	text-decoration:underline; 
	margin-left: 260px; 
	font-size: 18px; 
	cursor:pointer;
}
aside #main_actions{
	position:relative;
}
aside #main_responses{
	position:relative;
}
aside #main_responses .title{
	font-family: MonAmourTwo; 
	color: #bfa45a; 
	font-size: 25px; 
	margin-top: 21px;
}
aside #main_responses .all_list{
	position: absolute; 
	right: 20px; 
	top: 12px;
	font-size: 16px;
	font-family: Trebuchet-MS;
}
aside #main_responses .some_reviews .reviews_name{
	color:white; 
	font-weight:200; 
	font-size:21px; 
	margin-top:20px;
	font-family: Trebuchet-MS;
}
aside #main_responses .some_reviews .review_background{
	background: #bfa45a; 
	width:330px;
	height:100px; 
	border-radius:15px; 
	margin-top:20px;
	opacity:0.7;
}
aside #main_responses .some_reviews .review_background a{
    color: white;
    text-decoration: underline;
    right: 35px;
    width: 110px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    white-space: nowrap;
    font-family: Trebuchet-MS;
}
aside #main_responses .some_reviews .review_background .review_text{
	color:white; 
	font-size:21px; 
	font-style:italic; 
	padding-top: 20px; 
	padding-left: 25px;
	font-family: Trebuchet-MS;
}
aside #main_sertificates .title {
	font-family: MonAmourTwo; 
	color: #bfa45a; 
	font-size: 25px; 
	margin-top: 21px;
	white-space: nowrap;
}
aside #main_sertificates {
	margin-bottom:20px;
}
aside #main_sertificates a img{
 width:330px;
 margin-top:20px;
}
aside{
	float:right;
}
/***tegs**/
/* #w0.navbar-inverse {display:none !important;} */
/***main_our_masters***/
#main_our_masters .master_link img{
	width:330px;
	height:220px;
	margin-top:20px;
}
#main_our_masters .link {
	position: absolute; 
	right: 20px; 
	top: 7px;
	font-size: 16px;
	font-family: Trebuchet-MS;
}
#main_our_masters .name {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 35px;
    padding: 5px;
    font-weight: 200;
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Trebuchet-MS;
}
#main_our_masters .title {
	font-family: MonAmourTwo; 
	color: #bfa45a;
	font-size: 25px; 
	margin-top: 20px;
}
#main_our_masters {
	position:relative;
	width:350px;
}
/***main_our_masters***/

#main {
	min-height: 100%;		
}

/***manu***/
#menu a:hover {
	color:white;
}
#menu a.active {
	color:white;
}
#menu a.active::after {
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
#menu a {
	font-family: MonAmourTwo; 
	list-style:none; 
	padding-left:10px; 
	padding-right:10px; 
	font-size:21px; 
	cursor:pointer;
	color: #bfa45a; 
	text-decoration:none;
	position:relative;
	transition: color 0.3s;
}
#menu {
	position: absolute;
	top: 355px;
	width:1000px;
}
/***manu***/

/***action_filter***/
#actions_filter {
	position:absolute;
	right:70px;
	top:10px;
}
#actions_filter p{
    font-family: Trebuchet-MS;
	display:inline-block;
	color:#a3a3a3;
	font-weight:bold;
	font-family: sans-serif;
	margin-left:10px;
	cursor:pointer;
	font-size:14px;
	transition: 0.3s;
}
#actions_filter p.active{
	color: #bfa45a;
	cursor:default;
}
#actions_filter p:not(.active):hover {
	color: white;
}
/***action_filter***/

/***action_page***/
#actions_page .actions_block{
	margin-bottom:40px;
}
#actions_page .actions_block .action{
	position:relative;
	margin-left:40px;
	height:70px;
}
#actions_page .actions_block .action .date{
	color:white;
}
#actions_page .actions_block .action .status{
	color: #a3a3a3;
	position:absolute;
	top:0;
	left:90px;
	font-family: sans-serif;
	font-weight:bold;
	font-size:14px;
	font-family: Trebuchet-MS;
}
#actions_page .actions_block .action .status.active{
	color: #bfa45a;
}
#actions_page .actions_block .action .description{
	color:white;
	margin-top:10px;
	font-size:18px;
	font-family: Trebuchet-MS;
}
#actions_page .actions_block .action .moredetail{
	position:absolute;
	text-decoration:underline;
	right:95px;
}
/***action_page***/

/***logo***/
#logowrap {
	position: absolute;
	top: 60px;
}
#logo {
	position:relative;
}
#logo p:first-child {
	font-family: MonAmourTwo;
	color: #bfa45a;
	position: absolute;
	left: 215px;
	width: 130px;
	font-size: 24px;
	top: -50px;
}
#logo p {
	font-family: MonAmourTwo;
	color: #bfa45a;
	position: absolute;
	left: 170px;
	width: 160px;
	font-size: 24px;
	top: -25px;
}
#logo p.age{
	top: 80px; 
	left: 205px; 
	font-size: 34px;
}
#logo p.age span{
	font-size: 70px; 
	position: absolute; 
	top: -19px; 
	left: 35px;
}
#logo p:nth-child(3) {
	font-family: Stradivariscript;
	color: #bfa45a;
	font-size: 150px;
	position: absolute;
	top: -60px;
	left: 0px;
}
/***logo***/

/**contactinfo***/
#contactinfowrap {
	position: absolute;
	top: 60px;
	left: 700px;
}
#contactinfo {
	position:relative;
}
#contactinfo p:first-child {
	font-family: MonAmourTwo;
	color: #bfa45a;
	font-size: 35px;
	top: -50px;
	width: 280px;
	left: -30px;
	position: absolute;
}
#contactinfo p {
	font-family: MonAmourTwo;
	color: #bfa45a;
	position: absolute;
	top: -15px;
	left: -25px;
	font-size: 24px;
}
#contactinfo .phone span{
	font-family: MonAmourTwo;
	color: #bfa45a;
	font-size: 48px;
}
#contactinfo .phone {
	font-family: MonAmourTwo;
	color: #bfa45a;
	position: absolute;
	font-size: 24px;
	top: 20px;
	left: -25px;
	width: 310px;
}
#contactinfo .roundclock {
    top: 70px;
    left: 110px;
}
/***contactinfo***/

/***copyright***/
#copyright {
	padding-top:30px;
	padding-bottom: 15px;
	color: #bfa45a;
	margin: 0 auto;
	height:40px;
	width: 310px;
	font-size: 21px;
}
#copyright span {
	font-family: Goodvibes;
	font-size: 30px;
	display:inline-block;
}

#content{
	position:relative;
	padding-left: 5px;
    padding-right: 5px;
}
/***copyright***/

/***reviews***/
#reviews_page .review_wrap{
	position:relative;
}
#reviews_page {
	width:900px;
	margin:0 auto;
}
#reviews_page h1 {
	font-family: MonAmourTwo; 
	color: #bfa45a; 
	font-size: 25px; 
	font-weight:normal;
	margin-top:20px;
	width:550px;
	white-space: nowrap;
}
/***reviews***/

/***main_page***/
#main_page h1 {
	font-family: MonAmourTwo; 
	color: #bfa45a; 
	font-size: 25px; 
	font-weight:normal;
	margin-top:20px;
	width:550px;
	white-space: nowrap;
}
#main_page h2 {
	font-family: Trebuchet-MS;
	color:#c2c2c2; 
	font-size: 25px; 
	padding-left: 5px;
	margin-top:20px;
}
#main_page .slideimage .item img {
	width:540px;
	height:300px;
}
#main_page > p {
	width: 540px; 
	font-family: Trebuchet-MS; 
	text-align:justify; 
	line-height:23px;
	color:white; 
	font-size:21px;
	margin-top:20px;
	word-wrap:break-word;
	padding-left: 5px;
}
#main_page {
	float:left;
	margin-left:30px;
}
/***main_page***/

#contacts_page {
	float:left;
	padding-left:45px;
}

/***feedback***/
#feedback {
	padding-right:55px;
}
#feedback h2{
    font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
    width: 260px;
    text-align: center;
}
#feedback form {
	margin-top:20px;
}
#feedback input[name=name] {
	width:250px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:21px;
	color:#a9a9bb;
}
#feedback input[name=email] {
	width:250px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:21px;
	margin-top:20px;
	color:#a9a9bb;
}
#feedback input[type=button] {
    width: 200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 21px;
    margin-top: 20px;
	background:#bfa45a;
	color:White;
	border:none;
	cursor:pointer;
}
#feedback select {
	width:250px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:21px;
	margin-top:20px;
	color:#a9a9bb;
}
#feedback textarea {
	color:#a9a9bb;
	resize:none;
	width:250px;
	height:140px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:21px;
	margin-top:20px;
}
#feedback input, select, textarea{
	display:block;
	color:grey;
}
/***feedback***/

.contacts_title {
	font-family: MonAmourTwo; 
	color: #bfa45a; 
	font-size: 25px; 
	font-weight:normal;
	margin-top:20px;
	width:550px;
	white-space: nowrap;
	margin-bottom:20px;
	padding-left:45px;
}
#contacts_page #map{
	height:450px;
	width:550px;
	margin-bottom:30px;
}

/***masters_page***/
#masters_page h1{
    width: 950px;
    padding-left: 15px;
    margin: 0 auto;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
	margin-bottom:20px;
    white-space: nowrap;
}
#masters_page h2{
    width: 950px;
    padding-left: 15px;
    margin: 0 auto;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
	margin-bottom:20px;
    white-space: nowrap;
}
#masters_text {
	width: 930px;
	margin: 0 auto;
	margin-bottom: 20px;
}
#masters_text p{
    text-align: justify;
    color: white;
    font-size: 21px;
    margin-top: 20px;
    word-wrap: break-word;
	padding-right:40px;
	font-family: Trebuchet-MS;
}
#masters_page {
	width:1000px;
}
#masters_image {
	width:950px;
	margin: 0 auto;
}
#masters_image a {
	text-decoration:none;
	display:inline-block;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:20px;
	position:relative;
}
#masters_image a p {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 35px;
    padding: 5px;
    font-weight: 200;
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
	font-family: Trebuchet-MS;
}
#masters_image img {
	width:280px; 
	height:200px; 
}
/***masters_page***/

/***programs_page***/
#programs_page h1{
    width: 950px;
    padding-left: 15px;
    margin: 0 auto;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
	margin-bottom:20px;
    white-space: nowrap;
}
#programs_page h2{
    width: 950px;
    padding-left: 15px;
    margin: 0 auto;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
	margin-bottom:20px;
    white-space: nowrap;
}
#programs_text {
	width: 930px;
	margin: 0 auto;
	margin-bottom: 20px;
}
#programs_text p{
    text-align: justify;
    color: white;
    font-size: 21px;
    margin-top: 20px;
    word-wrap: break-word;
	padding-right:40px;
	font-family: Trebuchet-MS;
}

#programs_page {
	width:1000px;
}
/***programs_page***/

/***onemaster_page***/
#onemaster_page {
	width:950px;
	margin: 0 auto;
	padding-bottom:70px;
	position:relative;
}
#onemaster_page .yashare-auto-init{
	margin-left:-5px; 
	margin-top:10px;
}
#onemaster_page h1 {
    padding-left: 15px;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
	margin-bottom:20px;
    white-space: nowrap;
}
#onemaster_page .master_images {
	float:left;
}
#onemaster_page .main_image {
	padding-left:15px;	
}
#onemaster_page .main_image img {
	width:275px;
	border:1px solid #c2c2c2;
}
#onemaster_page .preview_image {
	padding-left:15px;	
}
#onemaster_page .preview_image img {
	width:87px;
	height:67px;
	border:1px solid #c2c2c2;
	float:left;
	margin-right:5px;
	cursor:pointer;
}
#onemaster_page .info {
	float:left;
	width:600px;
	margin-left:20px;
}
#onemaster_page .info p{
    text-align: justify;
	width:593px;
    color: #c2c2c2;
    font-size: 21px;
    word-wrap: break-word;
	font-family: Trebuchet-MS;
	margin-bottom:5px;
}
#onemaster_page .info p span{
	color:white;
}
#onemaster_page .prev-link {
	font-family: Trebuchet-MS;	
	color:white;
	position:absolute;
	bottom:0;
	left:20px;
	margin-bottom:30px;	
	cursor:pointer;
}
#onemaster_page  .next-link{
	font-family: Trebuchet-MS;
	color:white;
	position:absolute;	
	bottom:0;
	right:40px;	
	margin-bottom:30px;
	cursor:pointer;
}
/***onemaster_page***/

/***oneprogram_page***/
#oneprogram_page  img {
	width:280px;
	padding-left:15px;	
	height:200px; 
	float:left;
}
#oneprogram_page .time{
	margin-bottom:10px;
}
#oneprogram_page .description_title{
	margin-bottom:10px;
}
#oneprogram_page .yashare-auto-init{
	margin-left:-5px; 
	margin-top:10px;
}
#oneprogram_page h1 {
    padding-left: 15px;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
	margin-bottom:20px;
    white-space: nowrap;
}
#oneprogram_page {
	width:950px;
	margin: 0 auto;
	position:relative;
	padding-bottom:70px;
}
#oneprogram_page .info {
	float:left;
	width:600px;
	margin-left:20px;
}
#oneprogram_page .info p{
    text-align: justify;
	width:600px;
    color: white;
    font-size: 21px;
    word-wrap: break-word;
	font-family: Trebuchet-MS;
}
#oneprogram_page .prev-link {
	font-family: Trebuchet-MS;	
	color:white;
	position:absolute;
	bottom:0;
	left:40px;
	margin-bottom:30px;	
	cursor:pointer;
}
#oneprogram_page  .next-link{
	font-family: Trebuchet-MS;
	color:white;
	position:absolute;	
	bottom:0;
	right:40px;	
	margin-bottom:30px;
	cursor:pointer;
}
/***oneprogram_page***/

.reviews_title {
    padding-left: 15px;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
	margin-bottom:20px;
    white-space: nowrap;
}

/***programs_image***/
#programs_image {
	width:950px;
	margin: 0 auto;
}
#programs_image a {
	position:relative;
	text-decoration:none;
	display:inline-block;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:20px;
}
#programs_image a p {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    top:90px;
    padding: 5px;
    font-weight: 200;
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
	font-family: Trebuchet-MS;
}
#programs_image img {
	width:280px; 
	height:200px; 
}
/***programs_image***/

/***interior_page***/
#interior_page h1 {
    width: 950px;
    padding-left: 15px;
    margin: 0 auto;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
	margin-bottom:20px;
    white-space: nowrap;
}
#interior_page h2 {
    width: 950px;
    padding-left: 15px;
    margin: 0 auto;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
	margin-bottom:20px;
    white-space: nowrap;
}
#interior_page h3 {
    width: 950px;
    padding-left: 15px;
    margin: 0 auto;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
	margin-top: 20px;
	margin-bottom:20px;
    white-space: nowrap;
}
#interior_text {
	width: 930px;
	margin: 0 auto;
}
#interior_text p{
    text-align: justify;
    color: white;
    font-size: 21px;
    margin-top: 20px;
    word-wrap: break-word;
	padding-right:40px;
	font-family: Trebuchet-MS;
}
#interior_page {
	width:1000px;
}

#interior_image {
	width:950px;
	margin: 0 auto;
}
#interior_image a {
	text-decoration:none;
	display:inline-block;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:20px;
}
#interior_image a img {
	width:280px; 
	height:200px; 
}
/***interior_page***/

/***actions_page***/
#actions_page {
	width:1000px;
}
#actions_page h1 {
    width: 950px;
    padding-left: 15px;
    margin: 0 auto;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
	margin-bottom:20px;
    white-space: nowrap;
}
/***actions_page***/

/***reviews***/

#reviews {
	width:930px;
	margin: 0 auto;
	position:relative;
	margin-bottom:20px;
}
#reviews  .reviews_name {
	color:white; 
	font-weight:200; 
	font-size:21px; 
	margin-top:20px;
	font-family: Trebuchet-MS;
	margin-left:10px;	
}
#reviews  .review_background{
	background: #bfa45a; 
	position:relative;
	width:888px;
	height:100px; 
	border-radius:15px; 
	margin-top:20px;
	margin-left:10px;
	opacity:0.7;
}
#reviews  .review_background a{
	color: white; 
	text-decoration: underline; 
	width: 110px; 
	font-size: 18px; 
	cursor:pointer; 
	position: absolute;
	bottom: 10px;
	right:15px;
	white-space: nowrap;
	font-family: Trebuchet-MS;
}
#reviews .review_background:after {
    content: '';
    display: block;
    position: absolute;
    top: -35px;
    margin-left: 20px;
    border: 20px solid transparent;
    border-bottom: 15px solid #bfa45a;
}
#reviews  .review_background .review_text{
	color:white; 
	font-size:21px; 
	font-style:italic; 
	padding-top: 20px; 
	padding-left: 25px;
	font-family: Trebuchet-MS;
}
/***reviews***/

/***rules***/
#rules_page {
	width:930px;
	margin: 0 auto;
	margin-bottom:200px;
}
#rules_page h1{
    padding-left: 15px;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
	margin-bottom:20px;
    white-space: nowrap;
}
#rules_page p{
    text-align: justify;
    color: white;
    font-size: 21px;
    margin-top: 20px;
    word-wrap: break-word;
	padding-right:15px;
	padding-left:15px;
	font-family: Trebuchet-MS;
}
/***rules***/

/***vacancy***/
#vacancy_page h1 {
    padding-left: 15px;
	font-family: MonAmourTwo;
    color: #bfa45a;
    font-size: 25px;
    font-weight: normal;
    margin-top: 20px;
	margin-bottom:20px;
    white-space: nowrap;
}
#vacancy_page p{
    text-align: justify;
    color: white;
    font-size: 21px;
    margin-top: 20px;
    word-wrap: break-word;
	padding-right:15px;
	padding-left:15px;
	font-family: Trebuchet-MS;
}
#vacancy_page {
	width:930px;
	margin: 0 auto;
	margin-bottom:200px;
}

/***vacancy***/

.link {
	transition: color 0.3s;
	color: #bfa45a; 
}
.link:hover{
	color:white;
}

.slideimage {
	width:540px;
	height:300px;
}

.image-prev {
    background: url('/images/left-arrow.png') no-repeat;
    background-position: -0px -0px;
    width: 37px;
    height: 51px;
    position: absolute;
    top: 120px;
    left: -13px;
    cursor: pointer;
    z-index: 999;
}

.image-next {
    background: url('/images/right-arrow.png') no-repeat;
    background-position: -0px -0px;
    height: 51px;
    position: absolute;
    width: 37px;
    top: 120px;
    left: 284px;
    cursor: pointer;
    z-index: 999;
}

.contacts_text {
    text-align: justify;
    color: white;
    font-size: 21px;
    margin-top: 20px;
    padding-left: 45px;
    margin-bottom: 20px;
    padding-right: 55px;
    word-wrap: break-word;
	font-family: Trebuchet-MS
}

/*****/

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
	background-color: #fff;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/*ПУ*/
.admin_panel {margin-right: 50px;}
.admin_panel, .admin_content {float: left;}
.admin_panel a {display: block;border: 1px solid #000;padding: 10px;width: 220px;}
/* .admin_panel a:last-child {border-bottom: 1px solid #000;} */
.paginate .pagination{
	margin-left:15px;
}
.paginate .pagination li a {
	background: rgba(191,164,90, 0.7);
	color:white;
	margin-left:5px !important;
	margin-right:5px !important;
}

.paginate .prev.disabled span{
	background: rgba(220,203,154, 0.7);	
	color:white;
	border:1px solid white !important;
	font-weight:bold;
    margin-right: 5px;	
}
.paginate .next.disabled span{
	background: rgba(220,203,154, 0.7);	
	color:white;
	border:1px solid white !important;
	font-weight:bold;	
	margin-left: 5px;
}
.paginate .pagination li.active  a {
	border:1px solid white !important;
	font-weight:bold;
	background: rgba(220,203,154, 0.7);	
}

@media (max-width: 1000px) {
	.review_background:after {
		top:57px;
	}
	aside #main_responses .some_reviews .review_background {
		width: 370px;
	}
	#logo p.age {
		top: 90px;
		left: 215px;
	}
	#logo p.age span {
		top: -21px;
	}
	aside #main_actions .title {
	    margin-top: 30px;
	}
}